:root {
  --orange: rgb(216, 58, 0);
  --darker: rgb(185, 71, 29);
}
/* head display */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px 24px 24px 24px;
  font-size: 24px;
}

#view,
#timer {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 5px;
}

#view:hover {
  background-color: var(--darker);
  border: 1px solid black;
}

/* main body display */

.bulk {
  display: flex;
  justify-content: space-between;
  margin: 10px 30vw 10px 30vw;
  background-color: gray;
  border-radius: 32px;
  min-height: 600px;
  min-width: 40vw;
}

/* First card */

.start {
  display: flex;
  align-self: center;
  font-size: 42px;
  font-weight: bold;
  width: 100%;
  padding-left: 18%;
  background-color: var(--orange);
  border-radius: 20px;
}

/* Quiz cards */

.quiz {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#question {
  font-size: 32px;
  margin: 5px;
}

.answer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 24px;
  padding: 10px;
  min-height: 40px;
  min-width: 200px;
  background-color: var(--orange);
  border-radius: 10px;
  border: 1px solid var(--orange);
  margin: 0.5rem;
}

.answer:hover {
  background-color: var(--darker);
  border: 1px solid black;
}

/* Scoreboard card */

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
}

.scoreboard p {
  font-size: 32px;
}

.input {
  font-size: 24px;
}

/* Hide elements */
.hide {
  display: none;
}
