/* head display */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px 24px 24px 24px;
  font-size: 24px;
}
/* main body display */

.bulk {
  display: flex;
  justify-content: center;
  margin: 10px 30vw auto 30vw;
  background-color: gray;
  border-radius: 32px;
  min-height: 50vh;
  min-width: 40vw;
}

#hide {
  display: none;
}

/* First card */

.start {
  display: flex;
  align-self: center;
  font-size: 42px;
}

/* Quiz cards */

.quiz {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#question {
  font-size: 32px;
  margin: 5px;
}

#answers {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 24px;
}

#a1,
#a2,
#a3,
#a4 {
  background-color: rgba(255, 68, 0, 0.719);
  padding: 10px;
  min-height: 40px;
  border-radius: 10px;
}

/* Scoreboard card */
.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
}

.scoreboard p {
  font-size: 32px;
}

.input {
  font-size: 24px;
}
